{%extends 'layout.html'%}

{% block content %}
    <section class="user-dashborad ontainer form">
        <form action="/users?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="header">
                <h3>Detalhes</h3>
            </div>
            <div class="fields">
                {%include 'users/fields.html'%}
                <input type="hidden" name="id" value="{{user.id}}">
            </div>
            <button class="button edit" type="submit">Atualizar</button>
        </form>
        <form action="/users?_method=DELETE" method="POST" id="form-delete">
            <input type="hidden" name="id" value="{{user.id}}">
            <button class="button delete" type="submit">DELETAR</button>
        </form>
    </section>
    <script>
        const formDelete = document.querySelector("#form-delete")
        formDelete.addEventListener("submit", function (event) {
            const confirmation = confirm("Tem certezaq ue deseja excluir sua conta ? essa operação não poderá ser desfeita ?")
            if (!confirmation) {
                event.preventDefault()
            }
        })
    </script>

{% endblock content %}