{%extends 'layout.html'%}
{%import "parts/card.html" as cards%}
{% block content%}

    {%call cards.render('', 'order-success container')%}
    <div class="success-lottie"></div>

        <h2>Pedido realizado com sucesso</h2>
        <p>Aguarde a resposta do vendedor em seu email cadastrado.</p>
        <a href="/products/search">Comprar mais</a>
    
    <script src="/lottie.min.js"></script>
    <script>
        const element = document.querySelector(".success-lottie");
        lottie.loadAnimation({
            container: element, // the dom element that will contain the animation
            renderer: "svg",
            loop: true,
            autoplay: true,
            path: "/26484-success.json", // the path to the animation json
        });
    </script>

    {% endcall %}
{% endblock content %}