<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        {% block head %}
            <title>Launch Store</title>
        {% endblock head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {%include 'parts/styles.html'%}
    </head>
    <body>
        {%include 'parts/error.html'%}
        {%include 'parts/header.html'%}
        {% block content %}{% endblock content %}
        {%include 'parts/footer.html'%}
    </body>
</html>